body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u750_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u750 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:96px;
  width:297px;
  height:37px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u750_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  white-space:nowrap;
}
#u751_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u751 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:80px;
  width:194px;
  height:16px;
}
#u751_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  white-space:nowrap;
}
#u752 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u753_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u753 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:233px;
  width:90px;
  height:16px;
}
#u753_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u754 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:249px;
  width:300px;
  height:25px;
}
#u754_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u756_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u756 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:251px;
  width:9px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u756_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u757 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u758_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u758 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:294px;
  width:62px;
  height:16px;
}
#u758_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u759 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:310px;
  width:300px;
  height:25px;
}
#u759_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u760 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u761 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:362px;
  width:67px;
  height:16px;
}
#u761_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u762 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:378px;
  width:300px;
  height:25px;
}
#u762_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u763 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u764 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:425px;
  width:66px;
  height:32px;
}
#u764_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u765 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:441px;
  width:300px;
  height:25px;
}
#u765_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u766 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:262px;
  width:100px;
  height:16px;
}
#u767_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u767_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:262px;
  width:100px;
  height:16px;
}
#u768_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u768_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u769_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:243px;
  width:44px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u769_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:788px;
  height:55px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:148px;
  width:788px;
  height:55px;
}
#u770_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u771_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:156px;
  width:140px;
  height:40px;
}
#u771_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:156px;
  width:140px;
  height:40px;
}
#u772_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:156px;
  width:140px;
  height:40px;
}
#u773_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u775_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:312px;
  width:9px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u775_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u777_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:380px;
  width:9px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u777_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u779_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:443px;
  width:9px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u779_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:313px;
  width:300px;
  height:22px;
}
#u780_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u780_input:disabled {
  color:grayText;
}
#u781_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u781 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:297px;
  width:30px;
  height:16px;
}
#u781_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u783_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:50px;
  background:inherit;
  background-color:rgba(31, 38, 73, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:50px;
}
#u783_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:10px;
  width:193px;
  height:30px;
}
#u784_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:10px;
  width:36px;
  height:30px;
}
#u785_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:14px;
  width:246px;
  height:22px;
}
#u786_input {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u786_input:disabled {
  color:grayText;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:254px;
  height:953px;
  overflow:hidden;
  visibility:hidden;
}
#u787_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:953px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u787_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:968px;
  background:inherit;
  background-color:rgba(31, 38, 73, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:968px;
}
#u789_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:16px;
  width:164px;
  height:180px;
}
#u790_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:20px;
}
#u792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:87px;
  height:20px;
}
#u792_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:71px;
  height:20px;
}
#u794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u794_img.selected {
}
#u794.selected {
}
#u794_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u795_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:49px;
  height:20px;
}
#u795_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u793_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:111px;
  height:20px;
}
#u797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:89px;
  height:20px;
}
#u797_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:144px;
  height:20px;
}
#u799_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:122px;
  height:20px;
}
#u799_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u800 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:105px;
  height:20px;
}
#u801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u801_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:80px;
  width:109px;
  height:20px;
}
#u803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:87px;
  height:20px;
}
#u803_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:108px;
  height:20px;
}
#u805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u805_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:71px;
  height:20px;
}
#u807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:49px;
  height:20px;
}
#u807_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:127px;
  height:20px;
}
#u809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:105px;
  height:20px;
}
#u809_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u787_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:953px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u787_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u810_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:1003px;
  background:inherit;
  background-color:rgba(31, 38, 73, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:1003px;
}
#u810_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:16px;
  width:197px;
  height:640px;
}
#u811_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:20px;
}
#u813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:87px;
  height:20px;
}
#u813_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:121px;
  height:20px;
}
#u815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:99px;
  height:20px;
}
#u815_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:87px;
  height:20px;
}
#u817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:65px;
  height:20px;
}
#u817_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:89px;
  height:20px;
}
#u819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u819_img.selected {
}
#u819.selected {
}
#u819_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:67px;
  height:20px;
}
#u820_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u818_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:149px;
  height:20px;
}
#u822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:127px;
  height:20px;
}
#u822_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:102px;
  height:20px;
}
#u824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:80px;
  height:20px;
}
#u824_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:78px;
  height:20px;
}
#u826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:56px;
  height:20px;
}
#u826_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:80px;
  width:130px;
  height:20px;
}
#u828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:108px;
  height:20px;
}
#u828_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:100px;
  width:155px;
  height:20px;
}
#u830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:133px;
  height:20px;
}
#u830_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:73px;
  height:20px;
}
#u832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u832_img.selected {
}
#u832.selected {
}
#u832_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:51px;
  height:20px;
}
#u833_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u831_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:145px;
  height:20px;
}
#u835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:123px;
  height:20px;
}
#u835_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:110px;
  height:20px;
}
#u837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:88px;
  height:20px;
}
#u837_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:69px;
  height:20px;
}
#u839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:47px;
  height:20px;
}
#u839_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:260px;
  width:67px;
  height:20px;
}
#u841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u841_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:64px;
  height:20px;
}
#u843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:42px;
  height:20px;
}
#u843_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:160px;
  height:20px;
}
#u845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:138px;
  height:20px;
}
#u845_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:320px;
  width:160px;
  height:20px;
}
#u847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u847_img.selected {
}
#u847.selected {
}
#u847_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:138px;
  height:20px;
}
#u848_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u846_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:143px;
  height:20px;
}
#u850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:121px;
  height:20px;
}
#u850_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:160px;
  height:20px;
}
#u852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:138px;
  height:20px;
}
#u852_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:118px;
  height:20px;
}
#u854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:96px;
  height:20px;
}
#u854_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:400px;
  width:197px;
  height:20px;
}
#u856_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:175px;
  height:20px;
}
#u856_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:420px;
  width:78px;
  height:20px;
}
#u858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:56px;
  height:20px;
}
#u858_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:440px;
  width:92px;
  height:20px;
}
#u860_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u860_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:460px;
  width:109px;
  height:20px;
}
#u862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u862_img.selected {
}
#u862.selected {
}
#u862_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:87px;
  height:20px;
}
#u863_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u861_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:108px;
  height:20px;
}
#u865_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u865_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:129px;
  height:20px;
}
#u867_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:107px;
  height:20px;
}
#u867_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:153px;
  height:20px;
}
#u869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:131px;
  height:20px;
}
#u869_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:80px;
  width:145px;
  height:20px;
}
#u871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:123px;
  height:20px;
}
#u871_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:100px;
  width:95px;
  height:20px;
}
#u873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:73px;
  height:20px;
}
#u873_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:580px;
  width:151px;
  height:20px;
}
#u875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:129px;
  height:20px;
}
#u875_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:600px;
  width:86px;
  height:20px;
}
#u877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:64px;
  height:20px;
}
#u877_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:620px;
  width:78px;
  height:20px;
}
#u879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:56px;
  height:20px;
}
#u879_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u880_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:934px;
  top:14px;
  width:40px;
  height:22px;
}
#u880_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
